<p>
  Hey there! Feel free to shoot me a message and I’ll get back to you as
  soon as I can. To get in touch, please email:
</p>
<p><b>sarahbornaispublic [at] gmail [dot] com</b></p>

<!-- <form>

  <label for="subject">Subject</label>
  <input type="text" id="subject" class="form-control mb-4">

  <label for="message">Message</label>
  <div class="form-group">
    <textarea class="form-control" id="message" rows="6"></textarea>
  </div>
  <br />
  <button mdbBtn color="info" block="true" type="submit">Send</button>

</form> -->
