<h2><b>Introduction</b></h2>
<p>
  Hi! My name is Sarah and I’m a computer engineering student at the University of British Columbia.
  I’m also the co-president of our software engineering design team, <a href="https://ubclaunchpad.com">
  UBC Launch Pad</a>, where we build open-source software in a fun and collaborative environment. And,
  in case that isn't enough computer-related fun, I also compete in ethical hacking competitions with
  UBC’s capture the flag (CTF) team, <a href="https://ubcctf.github.io/about/">Maple Bacon</a>.
</p>
<p>
  In addition to my various computer-related endeavours, I also manage to occasionally venture outside
  of my terminal window to explore some of my other interests including sketching and illustration,
  acquiring new languages (currently focusing on Mandarin), and exploring the outdoors.
</p>
<br />
<h2><b>Skillset</b></h2>
<p>
  I spend a fair chunk of my time building web and mobile applications using tools including .NET,
  React, Angular, React Native, native Android (Java/Kotlin), and Flutter. Some cool open source projects
  that I've worked on include <a href="https://github.com/ubclaunchpad/Footprint">Footprint</a> and
  <a href="https://github.com/ubclaunchpad/soil-topARgraphy">Soil TopARgraphy</a>.
</p>
<p>
  I also enjoy participating in CTF competitions, which provide a fun and legal way to practice
  ethical hacking. In this realm, I tend to focus on reverse engineering, binary exploitation, and web
  exploitation. This tends to involve low-level C programming, writing python scripts, and various web
  development and networking skills (although many CTF challenges require a broad and rather obscure set
  of skills such as understanding PDF file structure, as an example). I post writeups of the problems
  I’ve particularly enjoyed solving <a href="https://ubcctf.github.io/authors/Siri/">here</a>.
</p>
<br />
<br />
<br />
